body {
  margin: 0;
  justify-content: center;
  align-items: center;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: radial-gradient(circle, #0f172f, #000000);
  font-size: 16px;
  
  /* Set a background color for the whole page */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
